<form action="">
  <div>
    <label for="loan" >Loan amount ($)</label>
    <input 
      id="loan"
      type="text" 
      [formControl]="loan"
      (input)="reCalculate()"
    >
  </div>
  <div>
    <label for="interest">Annual interest rate (%)</label>
    <input 
      id="interest"
      type="text"
      [formControl]="interest"
      (input)="reCalculate()"
    >
  </div>
  <div>
    <label for="years">Loan term (in years)</label>
    <input 
      id="years"
      type="text"
      [formControl]="years"
      (input)="reCalculate()"
    >
  </div>
</form>


<div>
  <h2>Monthly mortgage payment</h2>
  <h4>{{monthlyPayment}}</h4>
</div>